.letter{
    background-color: bisque;
}
header{
    text-align: right;
}
h1{
    font-size: medium;
}
h3{
    text-decoration: underline;
    font-style: italic;
}
article p{
    font-family: 'Open Sans Condensed', sans-serif;
}